$bgColor: #4a0260b9;

.wrap {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    width: 70vw;
    height: 65vh;
    padding: 10px;
    background-color: $bgColor;

    .image img {
        width: auto;
        height: 60vh;
    }

    .description {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr;

        h1,
        p,
        a {
            font-size: 0.75em;
            text-decoration: none;
            color: rgb(255, 255, 255);
        }

        .descHeader {
            display: grid;
            place-items: center;
            grid-template-columns: 1fr;

            .descHeaderTitle {
                font-size: 2em;
            }

            p {
                margin-top: -1.5625em;
            }
        }

        .descDescription {
            display: grid;
            align-items: center;
            grid-template-columns: 1fr;

            .descTitle {
                font-size: 0.875em;
                font-weight: bold;
            }
        }
    }
}

@media screen and (min-width: 1500px) {
    .wrap {
        display: grid;
        place-items: center;
        grid-template-columns: repeat(2, 1fr);
        width: auto;
        height: 500px;
        padding: 0;

        .image img {
            width: auto;
            height: 500px;
        }

        .description {
            display: grid;
            place-items: center;

            h1,
            p,
            a {
                font-size: 0.6em;
            }

            .descHeader {
                font-size: 1.125em;
            }

            .descTitle {
                margin-top: 1.5625em;
                font-size: 0.875em;

                font-weight: bold;
            }
        }
    }
}

@media screen and (min-width: 780px) and (max-width: 1000px) {
    .wrap {
        display: grid;
        place-items: center;
        grid-template-columns: repeat(2, 1fr);
        height: 85vh;
        padding: 0;

        .image img {
            width: auto;
            height: 85vh;
        }

        .description {
            display: grid;
            place-items: center;

            h1,
            p,
            a {
                font-size: 0.6em;
            }

            .descHeader {
                font-size: 1.125em;
            }

            .descTitle {
                margin-top: 1.5625em;
                font-size: 0.875em;

                font-weight: bold;
            }
        }
    }
}

@media screen and (min-width: 600px) and (max-width: 780px) {
    .wrap {
        display: grid;
        place-items: center;
        grid-template-columns: repeat(2, 1fr);
        height: 85vh;
        padding: 0;

        .image img {
            width: auto;
            height: 85vh;
        }

        .description {
            display: grid;
            place-items: center;

            h1,
            p,
            a {
                font-size: 0.5em;
            }

            .descHeader {
                font-size: 1em;
            }

            .descTitle {
                margin-top: 0.5em;
                font-size: 0.7em;
                font-weight: bold;
            }
        }
    }
}

@media screen and (min-width: 450px) and (max-width: 780px) {
    .wrap {
        display: grid;
        place-items: center;
        grid-template-columns: repeat(2, 1fr);
        height: 85vh;
        padding: 0;

        .image img {
            width: auto;
            height: 85vh;
        }

        .description {
            display: grid;
            place-items: center;
            grid-template-columns: 1fr;

            h1,
            p,
            a {
                font-size: 0.3em;
                text-decoration: none;
                color: rgb(255, 255, 255);
            }

            .descHeader {
                display: grid;
                place-items: center;
                grid-template-columns: 1fr;

                .descHeaderTitle {
                    font-size: 1em;
                }

                p {
                    margin-top: -1.5em;
                    margin-bottom: 1.5em;
                }
            }

            .descDescription {
                display: grid;
                align-items: center;
                grid-template-columns: 1fr;
                gap: 5%;

                .descTitle {
                    font-size: 0.5em;
                    font-weight: bold;
                }
            }
        }
    }
}

@media screen and (min-width: 100px) and (max-width: 450px) {
    .wrap {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr;
        gap: 0;
        width: 90vw;
        padding: 0;
        background-color: transparent;

        .image img {
            height: auto;
            width: 60vw;
        }

        .description {
            display: grid;
            place-items: center;
            grid-template-columns: 1fr;

            h1,
            p,
            a {
                font-size: 0.7em;
                text-decoration: none;
                color: rgb(255, 255, 255);
            }

            .descHeader {
                display: grid;
                place-items: center;
                grid-template-columns: 1fr;

                .descHeaderTitle {
                    font-size: 1em;
                }

                p {
                    margin-top: -1.5em;
                    margin-bottom: 1.5em;
                }
            }

            .descDescription {
                display: grid;
                align-items: center;
                grid-template-columns: 1fr;
                gap: 5%;

                .descTitle {
                    font-size: 0.8em;
                    font-weight: bold;
                }
            }
        }
    }
}
