.wrap {
  width: 1000px;
}

small {
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  p {
    font-size: 12px;
    color: #787878;
  }
}

.leftstr {
  text-align: left;
}

@media screen and (min-width: 100px) and (max-width: 500px) {
  .wrap {
    width: 100vw;
  }
}

@media screen and (min-width: 780px) and (max-width: 1000px) {
  .wrap {
    width: 100vw;
  }
}

@media screen and (min-width: 500px) and (max-width: 780px) {
  .wrap {
    width: 100vw;
  }
}
